[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==4.0"
django-heroku = "*"
gunicorn = "*"
python-dotenv = "*"
[requires]
python_version = "python-3.10.11"
psycopg2-binary = "*"
requests = "*"
