{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">En Planigrupo entendemos la relevancia de procurar la vinculación con
                        nuestros grupos de interés, ya que la consideramos como centro de negocio y aspecto fundamental
                        de la sustentabilidad;
                        hemos adoptado los valores del “International Integrated Reporting Framework”, en donde se
                        establece que la publicación de los resultados de sostenibilidad deben proveer un panorama sobre
                        la naturaleza y la calidad de las relaciones entre los grupos de interés y la compañía, por tal
                        motivo es esencial vincularnos con ellos para entender sus expectativas, necesidades y
                        preocupaciones logrando proponer soluciones concretas con ellos, a fin de prevenir riesgos y
                        desarrollar oportunidades. </p>
                    <p class="text-justify">Con este fin, hemos desarrollado diversas herramientas de comunicación para
                        establecer puntos de
                        contacto directo con ellos e identificar los temas y canales de diálogo que les sean relevantes;
                        de esta manera aspiramos a mejorar nuestra relación con ellos, así como nuestros procesos y
                        servicios.</p>
                    <p class="text-justify">Nuestro Proceso de vinculación con los grupos de interés incluye tres
                        fases:</p>

                    <p>1. Identificación: Se definen a través de un proceso integrado, la identificación de los grupos
                        de interés, así como premisas y los principales impulsores para determinar sus expectativas.</p>
                    <p>2. Priorización: A través del análisis de materialidad, se consultaron a todos nuestros grupos de
                        interés para especificar y priorizar los temas materiales más relevantes.</p>
                    <p>3. Validación: Por último, se realiza un plan de acción para atender cada tema material, definir
                        KPIs para ellos y establecer metas de mejora.</p>
                    <p>A continuación, se comparte el listado de nuestros grupos de interés, el canal de comunicación
                        que empleamos con cada uno de ellos, así como la frecuencia de ésta y algunos de los temas
                        claves que se hablan:</p>
                    <h5 class="font-weight-bold">Colaboradores</h5>
                    <p>Carta de denuncias, newsletter semanal con contenido interno y noticias sectoriales Constante,
                        semanal</p>
                    <p class="m-0">Temas:</p>
                    <ul class="pl-4">
                        <li>Reciprocidad por parte de la empresa
                        </li>
                        <li>Motivación y sentido de pertenencia
                        </li>
                        <li>Colaboración inter e intra-área
                        </li>
                        <li>Procesos de trabajo
                        </li>
                        <li>Capacitación y desarrollo</li>
                        <li>Condiciones laborales</li>
                        <li>Ética y transparencia</li>
                    </ul>
                    <h5 class="font-weight-bold">Bancos</h5>
                    <p>Reportes Trimestrales, cuestionarios periódicos ESG <br>Al menos trimestralmente</p>
                    <h5 class="font-weight-bold">Consejo de administración</h5>
                    <p>Reuniones de consejo, reuniones de comités <br>Trimestralmente</p>
                    <h5 class="font-weight-bold">Directores</h5>
                    <p>Juntas Equipo, Comités de Inversión y Auditoría<br>Diario, semanal, trimestralmente</p>
                    <h5 class="font-weight-bold">Inquilinos</h5>
                    <p>Canal de denuncias, página web, portal de clientes<br>Constante</p>
                    <p class="m-0">Temas:</p>
                    <ul class="pl-4">
                        <li>Calidad y rapidez de los productos y servicios
                        </li>
                        <li>Calidad de la relación comercial
                        </li>
                        <li>Facilidad de los procesos y trámites
                        </li>
                    </ul>
                    <h5 class="font-weight-bold">Inversionistas</h5>
                    <p>Reportes trimestrales y anuales, Asambleas Ordinarias y extraordinarias, Cuestionarios periódicos
                        ESG<br>Mensual, trimestral y anualmente</p>
                    <p class="m-0">Temas:</p>
                    <ul class="pl-4">
                        <li>Resultados financieros
                        </li>
                        <li>Estabilidad y continuidad del negocio
                        </li>
                        <li>Transparencia
                        </li>
                        <li>Resolución de dudas sobre los resultados</li>
                    </ul>
                    <h5 class="font-weight-bold">Calificadoras</h5>
                    <p>Reportes trimestrales y anuales, comunicados de prensa<br>Constante, trimestral y anualmente</p>

                    <h5 class="font-weight-bold">Proveedores</h5>
                    <p>Canal de denuncias, portal de proveedores<br>Constante</p>
                    <p class="m-0">Temas:</p>
                    <ul class="pl-4">
                        <li>Pagos en tiempo
                        </li>
                        <li>Relación comercial
                        </li>
                        <li>Calidad y distribución de servicios y productos adquiridos
                        </li>
                        <li>Innovación y tecnología</li>
                    </ul>
                    <p>A partir del análisis de materialidad se pudieron identificar los temas ASG que fueron relevantes
                        para cada uno de nuestros grupos de interés, posteriormente se realizó un plan de acción para
                        cada tema material. Todos estos resultados fueron compartidos con nuestro Consejo de
                        Administración y Comité Técnico, quienes son responsables de supervisar la respuesta de la
                        organización a cualquier preocupación crítica. </p>
                    <p>A continuación, se presentan la relevancia de algunos de los temas y preocupaciones de cada uno
                        de nuestros grupos de interés (1 más relevante, 4 medianamente relevante)</p>
                    <p class="m-0">Bancos</p>
                    <ul class="pl-4">
                        <li>1. Ética de negocios
                        </li>
                        <li>2. Calidad de las propiedades
                        </li>
                        <li>3. Gobierno corporativo
                        </li>
                        <li>4. Compromiso de los colaboradores</li>
                    </ul>
                    <p class="m-0">Inquilinos</p>
                    <ul class="pl-4">
                        <li>1. Bienestar de nuestros inquilinos
                        </li>
                        <li>2. Ética de negocios
                        </li>
                        <li>3. Calidad de las propiedades
                        </li>
                        <li>4. Administración de riesgos</li>
                    </ul>
                    <p class="m-0">Colaboradores</p>
                    <ul class="pl-4">
                        <li>1. Ética de negocios
                        </li>
                        <li>2. Bienestar de nuestros inquilinos
                        </li>
                        <li>3. Administración de riesgos
                        </li>
                        <li>4. Calidad de las propiedades</li>
                    </ul>
                    <p class="m-0">Inversionistas</p>
                    <ul class="pl-4">
                        <li>1. Gobierno corporativo
                        </li>
                        <li>2. Administración de riesgos
                        </li>
                        <li>3. Ética de negocios
                        </li>
                        <li>4. Resiliencia del modelo de negocios</li>
                    </ul>
                    <p class="m-0">Consejo</p>
                    <ul class="pl-4">
                        <li>1. Ética de negocios
                        </li>
                        <li>2. Gobierno corporativo
                        </li>
                        <li>3. Resiliencia del modelo de negocios
                        </li>
                        <li>4. Administración de riesgos</li>
                    </ul>
                    <p class="m-0">Proveedores</p>
                    <ul class="pl-4">
                        <li>1. Calidad de las propiedades
                        </li>
                        <li>2. Ética de negocios
                        </li>
                        <li>3. Salud y seguridad de los contratistas
                        </li>
                        <li>4. Bienestar de nuestros inquilinos</li>
                    </ul>
                    <p class="m-0">Directores</p>
                    <ul class="pl-4">
                        <li>1. Resiliencia del modelo de negocios
                        </li>
                        <li>2. Gobierno corporativo
                        </li>
                        <li>3. Ética de negocios
                        </li>
                        <li>4. Calidad de las propiedades</li>
                    </ul>
                    <p class="m-0">Otros</p>
                    <ul class="pl-4">
                        <li>1. Administración de riesgos
                        </li>
                        <li>2. Ética de negocios
                        </li>
                        <li>3. Compromiso de los colaboradores
                        </li>
                        <li>4. Calidad de las propiedades</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
