{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>A lo largo de nuestra trayectoria, nos hemos distinguido por ser líderes en la adopción y
                        ejecución de las mejores prácticas de Gobierno corporativo teniendo como prioridad garantizar
                        los intereses de todos nuestros grupos de interés; con la finalidad de generar valor de forma
                        sostenible a través de la empresa, priorizando la transparencia, la responsabilidad, el
                        desempeño y la divulgación de la información.</p>
                    <p>Una gobernanza sólida es un elemento clave para salvaguardar nuestros objetivos, siendo el eje
                        rector y base de nuestra integridad, a través de la transparencia, representatividad, uso de
                        mejores prácticas, resolución de conflictos de intereses y cuidado de la información asimétrica
                        en la toma de decisiones.</p>
                    <p>Nuestro gobierno corporativo está enfocado en:</p>
                    <ul class="pl-4">
                        <li>- Mejorar la interacción entre la Junta Directiva, los Comités y la Administración
                        </li>
                        <li>- Mitigar cualquier posible conflicto de interés
                        </li>
                        <li>- Tomar decisiones que maximicen el valor de la empresa
                        </li>
                        <li>- Fomentar una cultura disciplinada de presentación de informes y seguimiento
                        </li>
                        <li>- Ser totalmente transparentes en sus operaciones</li>
                        <li>- La divulgación completa de transacciones en informes financieros adecuados</li>
                        <li>- La estructura y prácticas sólidas de gobierno corporativo alineadas con la industria</li>
                    </ul>
                    <p>La eficiente interacción entre la Junta Directiva, los comités y la administración fortalece
                        nuestro gobierno corporativo, así como obtener la retroalimentación de los inversionistas
                        sofisticados, al conocer los resultados de los modelos operativos externos empleados por otras
                        empresas inmobiliarias.</p>

                    <h3 class="font-weight-bold">Conflictos de interés</h3>
                    <p>En Planigrupo buscamos mitigar el posible conflicto de intereses mediante la internalización ya
                        que reduce el problema agente- principal; por otro lado, la remuneración de la administración se
                        asigna en base al desempeño y las métricas a largo plazo.</p>
                    <p class="font-weight-bold">Máximo órgano de Gobierno </p>
                    <p>La administración de la compañía está confiada a un Máximo Órgano de Gobierno</p>
                    <h3 class="font-weight-bold">Composición</h3>
                    <p>Los miembros del Máximo Órgano de Gobierno son nominados y seleccionados mediante la Asamblea de
                        Accionistas en base a los siguientes criterios:</p>
                    <ul class="pl-4">
                        <li>o La participación
                        </li>
                        <li>o La experiencia y los conocimientos en temas económicos, ambientales y sociales de cada uno
                            de los miembros
                        </li>
                        <li>o La independencia de éstos</li>
                    </ul>
                    <p>De acuerdo con la mayoría de los consejeros, a través del Director General se realiza el proceso
                        de delegación de autoridad para temas económicos, ambientales y sociales del máximo órgano de
                        gobierno delegando las acciones a los altos ejecutivos y otros colaboradores; considerando los
                        factores para la buena gestión de cada tema y las funciones de negocio de las diferentes
                        direcciones de Planigrupo. Las áreas más involucradas son el área Jurídica, de Construcción,
                        Operaciones y Finanzas; éstas informan mensualmente al máximo órgano de gobierno. De igual
                        manera cuando hay Consejo los temas se consultan directamente en la asamblea correspondiente, de
                        lo contrario lo sesiona el Comité Técnico.</p>
                    <h3 class="font-weight-bold">Principales funciones</h3>
                    <ul class="pl-4">
                        <li>o Elaboración de las declaraciones de valores o misiones, así como las estrategias.
                        </li>
                        <li>o Creación de las políticas y los objetivos relacionados con temas económicos, ambientales y
                            sociales.
                        </li>
                        <li>o El desarrollo, la aprobación y la actualización del objetivo de la organización.</li>
                    </ul>
                    <h3 class="font-weight-bold">Responsabilidades de la Asamblea</h3>
                    <p>Anualmente aprueba los indicadores de negocio y asigna el cumplimiento de las métricas
                        establecidas que deben de alcanzar las distintas áreas de la empresa, incluyendo el máximo
                        órgano de gobierno y los principales ejecutivos. De igual manera las compensaciones de estos
                        están ligados a su cumplimiento.</p>
                    <h3 class="font-weight-bold">Comités</h3>

                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                <a class=""><i class="fa"></i>
                                    Comité Ejecutivo y de Inversiones
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Conformado por administrativos y 3 consejeros independientes - Se reúne
                                        mensualmente</p>
                                    <p>Principales funciones</p>
                                    <ul class="pl-4">
                                        <li>- Dar seguimiento a la estrategia aprobada por el máximo órgano de gobierno.
                                        </li>
                                        <li>- Apoyar al equipo directivo en el análisis y la discusión de asuntos
                                            estratégicos o que
                                            sean
                                            de alta relevancia, principalmente en los periodos donde no sesione el
                                            máximo órgano de
                                            gobierno.
                                        </li>
                                        <li>- Evaluar opciones de nuevos negocios y dar seguimiento a la negociación.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                <a class=""><i class="fa"></i>
                                    Comité de Auditoría y Prácticas societarias
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Conformado por 3 consejeros independientes - Se reúne trimestralmente</p>
                                    <p>Principales funciones</p>
                                    <ul class="pl-4">
                                        <li>- Revisar la integridad de los estados y reportes financieros, así como los
                                            criterios,
                                            prácticas contables y fiscales aplicadas.
                                        </li>
                                        <li>- Monitorear el sistema de control interno y la ejecución y seguimiento de
                                            los procesos
                                            operativos que lo integran.
                                        </li>
                                        <li>- Vigilar que la función de auditoría interna y externa se realice con la
                                            mayor objetividad
                                            e
                                            independencia.
                                        </li>
                                        <li>- Elaborar y aprobar políticas en materia de desarrollo de talento y tablas
                                            de sucesión, y
                                            de
                                            así disponerlo la Asamblea General de Accionistas.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                <a class=""><i class="fa"></i>
                                    Comité de Compensación
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <p>Conformado por 3 consejeros Independientes - Se reúne anualmente</p>
                                    <p>Principales funciones</p>
                                    <ul class="pl-4">
                                        <li>-Participar en la supervisión, retención, evaluación y compensación del
                                            Director General y
                                            del equipo directivo.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
