{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">A lo largo de nuestra trayectoria, nos hemos distinguido por ser líderes en
                        la adopción y
                        ejecución de las mejores prácticas de Gobierno corporativo teniendo como prioridad garantizar
                        los intereses de todos nuestros grupos de interés; con la finalidad de generar valor de forma
                        sostenible a través de la empresa, priorizando la transparencia, la responsabilidad, el
                        desempeño y la divulgación de la información.</p>
                    <p class="text-justify">Una gobernanza sólida es un elemento clave para salvaguardar nuestros
                        objetivos, siendo el eje
                        rector y base de nuestra integridad, a través de la transparencia, representatividad, uso de
                        mejores prácticas, resolución de conflictos de intereses y cuidado de la información asimétrica
                        en la toma de decisiones.</p>
                    <p class="text-justify">Nuestro gobierno corporativo está enfocado en:</p>

                    <div style="text-align:center;">
                        <img src="{% static 'images/enfoque_gobierno.png' %}"
                             style="align-center; width:1000px; height: 400px;"
                             alt="">
                    </div>
                    <p class="text-justify">La eficiente interacción entre la Junta Directiva, los comités y la
                        administración fortalece
                        nuestro gobierno corporativo, así como obtener la retroalimentación de los inversionistas
                        sofisticados, al conocer los resultados de los modelos operativos externos empleados por otras
                        empresas inmobiliarias.</p>


                    <h2 class="text-center" style="color: #1C3557;"><b>Conflictos de interés</b></h2>


                    <p class="text-justify">En Planigrupo buscamos mitigar el posible conflicto de intereses mediante la
                        internalización ya
                        que reduce el problema agente- principal; por otro lado, la remuneración de la administración se
                        asigna con base al desempeño y las métricas a largo plazo.</p>


                    <h1 class="text-center tc-blue mt-5 mb-5">Máximo órgano de Gobierno</h1>
                    <p class="text-justify">La administración de la compañía está confiada a un Máximo Órgano de
                        Gobierno donde los miembros son
                        nominados y seleccionados mediante la Asamblea de
                        Accionistas en base a los siguientes criterios:</p>

                    <div style="text-align:center;">
                        <img src="{% static 'images/criterios_gobierno.png' %}"
                             style="align-center; width:700px; height: 200px;"
                             alt="">
                    </div>
                    <br><br>
                    <p class="text-justify">De acuerdo con la mayoría de los consejeros, a través del Director General
                        se realiza el proceso
                        de delegación de autoridad para temas económicos, ambientales y sociales del máximo órgano de
                        gobierno delegando las acciones a los altos ejecutivos y otros colaboradores; considerando los
                        factores para la buena gestión de cada tema y las funciones de negocio de las diferentes
                        direcciones de Planigrupo. Las áreas más involucradas son el área Jurídica, de Construcción,
                        Operaciones y Finanzas; éstas informan mensualmente al máximo órgano de gobierno. De igual
                        manera cuando hay Consejo los temas se consultan directamente en la asamblea correspondiente, de
                        lo contrario lo sesiona el Comité Técnico.</p>

                    <h2 class="text-center" style="color: #1C3557;"><b>Principales funciones</b></h2>

                    <div style="text-align:center;">
                        <img src="{% static 'images/principales_funciones.png' %}"
                             style="align-center; width:1200px; height: 200px;"
                             alt="">
                    </div>
                    <br><br>

                    <h2 class="text-center" style="color: #1C3557;"><b>Responsabilidades de la Asamblea</b></h2>
                    <p class="text-justify">Anualmente aprueba los indicadores de negocio y asigna el cumplimiento de
                        las métricas
                        establecidas que deben de alcanzar las distintas áreas de la empresa, incluyendo el máximo
                        órgano de gobierno y los principales ejecutivos. De igual manera las compensaciones de estos
                        están ligados a su cumplimiento.</p>

                    <h1 class="text-center tc-blue mt-5 mb-5">Comités</h1>

                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header collapsed card-link" data-toggle="collapse" href="#collapseOne">
                                <a class=""><i class="fa"></i>
                                    <b>Comité Ejecutivo y de Inversiones</b>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <h2 class="text-center" style="color: #1C3557;"><b>Conformado por administrativos y
                                        3 consejeros independientes - Se reúne
                                        mensualmente</b></h2>
                                    <h2 class="text-center" style="color: #1C3557;"><b>Principales funciones:</b></h2>
                                    <div style="text-align:center;">
                                        <img src="{% static 'images/ejecutivo_inversiones.png' %}"
                                             style="align-center; width:700px; height: 300px;"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                <a class=""><i class="fa"></i>
                                    <b>Comité de Auditoría y Prácticas societarias</b>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <h2 class="text-center" style="color: #1C3557;"><b>Conformado por 3 consejeros
                                        independientes - Se reúne trimestralmente</b></h2>
                                    <h2 class="text-center" style="color: #1C3557;"><b>Principales funciones:</b></h2>
                                    <div style="text-align:center;">
                                        <img src="{% static 'images/auditoria_practicas.png' %}"
                                             style="align-center; width:1000px; height: 400px;"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                <a class=""><i class="fa"></i>
                                    <b>Comité de Compensación</b>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <h2 class="text-center" style="color: #1C3557;"><b>Conformado por 3 consejeros
                                        Independientes - Se reúne anualmente</b></h2>
                                    <h2 class="text-center" style="color: #1C3557;"><b>Principales funciones:</b></h2>
                                    <div style="text-align:center;">
                                        <img src="{% static 'images/comite_compensacion.png' %}"
                                             style="align-center; width:700px; height: 200px;"
                                             alt="">
                                    </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'partials/carousel_eventos_soc.html' %}

        <div class="container">
            <a class="btn bg-danger text-white" href="{% url 'gobernanza' %}">
                volver
            </a>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
<script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>
{% endblock %}
