{% extends 'layouts/interior.html' %}
{% load static %}

{% block otherstyles %}
    <style>

    </style>
{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <p class="text-justify">En Planigrupo estamos conscientes que podemos hacer la diferencia con la
                    creación
                    de valor ambiental, por ello implementaremos diversas campañas que impulsen la economía circular: el
                    reuso,
                    ahorro y concientización de los recursos dentro de nuestras plazas y corporativos, de materiales
                    tales como
                    el papel, cartón, PET, vidrio, electrónicos, e incluso energía y agua.</p>

                <div class="col-12 mb-5">
                    <h1 class="text-center tc-blue mt-5 mb-5">Metas 2023</h1>
                    <div style="text-align:center;">
                        <img src="{% static 'images/metas_ambientales_2023_2.png' %}"
                             style="align-center; width:4000px; height: 250px;"
                             alt="">
                    </div>
                  <!--  <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    
                                    <p>Implementación de campañas de optimización de recursos para clientes,
                                        colaboradores y proveedores.
                                    </p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="{% static 'images/implementacion_campañas.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <p>Optimizar el consumo de energía y agua en nuestras propiedades.</p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="{% static 'images/energia_agua.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <p>Brindar talleres y pláticas, sobre la concientización ambiental de los
                                        colaboradores.
                                    </p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="{% static 'images/talleres_platicas.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <p>Fortalecer la división de residuos de acuerdo a su tipo.</p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="{% static 'images/residuos_v2.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <p>Hacer alianzas con diversas organizaciones que persigan el cuidad ambiental
                                        para brindar apoyo económico y/o voluntariado.
                                    </p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="{% static 'images/alianzas.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row d-flex align-items-center">
                                <div class="col-md-6">
                                    <p>Aumentar el porcentaje de Plantas de Tratamiento de Aguas Residuales en
                                        nuestras propiedades.
                                    </p>
                                </div>
                                <div class="col-md-6 text-center">
                                    <img src="{% static 'images/tratamiento_aguas.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <!--- 
                 <p class="text-justify">Para más información, visitar el siguiente enlace:</p>
                    <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'ambiental_info' %}">
                            <img width="200px" src="{% static 'images/imagen_ambiental.png' %}" alt="200px">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Ambiental</h3>
                                </div></div>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <section class="py-5">
            <div class="parallax" style="background-image: url({% static 'images/parallax/5.jpg' %});">
                <div class='container-fluid container-relative text-white'>
                    <h1 class="text-white text-center">
                        Para Planigrupo el óptimo uso de los recursos es de suma importancia ya que es una de
                        las formas más tangibles de contribuir a los objetivos ODS y a su vez impulsar su
                        desempeño económico o la generación de valor.
                    </h1>
                </div>
            </div>
        </section>

<div class="container">
    <div class="row">
        <div class="col-12 mb-5">
        <h1 class="text-center tc-blue mt-5 mb-5">Actividades Relevantes 2022</h1>
        <div style="text-align:center;">
            <img src="{% static 'images/actividades_ambientales_2022_2.png' %}"
                 style="align-center; width:700px; height: 400px;"
                 alt="">
            </div>
        </div>
    </div>
    


                
                {% include 'partials/carousel_eventos_soc.html' %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>
    <script>
        $(window).on('load', function () {
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id'));
                finn_counto('#' + $(this).attr('id'));
            });
        });

        function finn_waypoint(elemento) {
            var waypoint = new Waypoint({
                element: $(elemento),
                handler: function (direction) {
                    $(elemento + ' .count').trigger('on-appear');
                },
                offset: '75%',
                triggerOnce: true
            })
        }

        function finn_counto(elemento) {
            if ($().countTo) {
                $(elemento + ' .count').on('on-appear', function () {
                    $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                    $(this).each(function () {
                        var to = parseFloat($(this).data('to')),
                            speed = parseInt($(this).data('speed')),
                            decimals = parseInt($(this).data('decimals'));

                        $(this).countTo({
                            to: to,
                            speen: speed,
                            decimals: decimals,
                            formatter: function (value, options) {
                                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                            },
                            onComplete: function (value) {
                                if (value === 1.9)
                                    return this.innerHTML += '%';
                            }

                        });
                    });
                }); //counter
            }
        }
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 45000,
            autoplayHoverPause: true,
            items: 1,
        });
    </script>

    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/ambiental.min.js' %}{{ css_js_version }}"></script>
{% endblock %}
