{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'stylesheets/carousel.eventos.min.css' %}">

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">En Planigrupo, contamos con una estrategia integral para hacer frente al
                        cambio climático. Para
                        ello, hemos implementado diversas iniciativas en distintas áreas para promover la
                        sustentabilidad y el cuidado del medio ambiente.</p>

                <div class="col-md-6"></div>
            </div>
        </div>
        </div>
        <div id="cifras_relevantes_energia" class="content-wrap pt-3 pb-3 finn-counto">
            <div class="container">
                <div class="section-title mb-3 text-center">
                    <h3 class="title-effect">Cifras relevantes de Energía:</h3>
                </div>
                <div class="row honeycomb-wrapper justify-content-center">
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Electricidad</b></h5></a>
                    </div>
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Gas Natural</b></h5><br></a>
                    </div>
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Gasolina</b><br></h5></a>
                    </div>
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-dasharray="10,10" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="3000" data-in-viewport="yes"
                                    data-decimals="0" style="color: #dc291e">0</h2><span
                                    class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Total</b></h5>
                        </a><br>
                    </div>
                    <div class="col-md-8 mx-auto mb-4">
                        <div id="chart1" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="cifras_relevantes_agua" class="content-wrap pt-3 pb-3 finn-counto">
            <div class="container">
                <div class="section-title mb-3 text-center">
                    <h3 class="title-effect">Cifras relevantes del Agua:</h3>
                </div>
                <div class="row honeycomb-wrapper justify-content-center">
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Agua subterrránea</b></h5></a>
                    </div>
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Agua de terceros</b></h5><br></a>
                    </div>
                    <div class="col-md-3 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-dasharray="10,10" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="2000" data-in-viewport="yes"
                                    data-decimals="0" style="color: #dc291e">0</h2><span
                                    class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Total</b></h5>
                        </a><br>
                    </div>
                    <div class="col-md-8 mx-auto mb-4">
                        <div id="chart2" style="height: 350px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="cifras_relevantes_gei" class="content-wrap pt-3 pb-3 finn-counto">
            <div class="container">
                <div class="section-title mb-3 text-center">
                    <h3 class="title-effect">Cifras Relevantes GEI</h3>
                </div>
                <div class="row honeycomb-wrapper justify-content-center">
                    <div class="col-md-3 col-lg-2 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Alcance 1</b></h5></a>
                    </div>
                    <div class="col-md-3 col-lg-2 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                    data-decimals="0">0</h2><span class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Alcance 2</b></h5><br></a>
                    </div>
                    <div class="col-md-3 col-lg-2 tile">
                        <div class="honeycomb">
                            <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                                 width="150" viewBox="0 0 160 160">
                                <circle cx="80" cy="80" r="66" stroke-dasharray="10,10" fill="none"></circle>
                            </svg>
                            <div class="content">
                                <h2 class="count" data-speed="1500" data-to="2000" data-in-viewport="yes"
                                    data-decimals="0" style="color: #dc291e">0</h2><span
                                    class="title-effect "></span>
                            </div>
                        </div>
                        <a href="#"><h5><b>Total</b></h5>
                        </a><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div id="chart3" style="height: 350px;"></div>
                </div>
                <div class="col-md-6 mb-4">
                    <div id="chart4" style="height: 350px;"></div>
                </div>
            </div>
        </div>
        {% include 'partials/carousel_eventos_soc.html' %}

        <div class="container">
            <a class="btn bg-danger text-white" href="{% url 'ambiental' %}">
                volver
            </a>
        </div>

    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>

    <script>
        $(window).on('load', function () {
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id'));
                finn_counto('#' + $(this).attr('id'));
            });


        });

        function finn_waypoint(elemento) {
            var waypoint = new Waypoint({
                element: $(elemento),
                handler: function (direction) {
                    $(elemento + ' .count').trigger('on-appear');
                },
                offset: '75%',
                triggerOnce: true
            })
        }

        function finn_counto(elemento) {
            if ($().countTo) {
                $(elemento + ' .count').on('on-appear', function () {
                    $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                    $(this).each(function () {
                        var to = parseFloat($(this).data('to')),
                            speed = parseInt($(this).data('speed')),
                            decimals = parseInt($(this).data('decimals'));

                        $(this).countTo({
                            to: to,
                            speen: speed,
                            decimals: decimals,
                            formatter: function (value, options) {
                                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                            },
                            onComplete: function (value) {
                                if (value === 1.9)
                                    return this.innerHTML += '%';
                            }

                        });
                    });
                }); //counter
            }
        }
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    </script>
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/ambiental.min.js' %}{{ css_js_version }}"></script>
{% endblock %}
