{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <style>

    </style>
{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <p class="text-justify">Reconocemos la importancia y el valor de contar con un enfoque ambiental sólido. Nuestra estrategia ambiental 
                    abarca diferentes áreas, desde la reducción de nuestra huella de carbono hasta la conservación de los recursos naturales. 
                    Nos esforzamos por minimizar el impacto ambiental de nuestros proyectos y promover el uso responsable de los recursos, agua, 
                    energía y manejo de residuos. </p>

               
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div style="text-align:center;">
                        <img src="{% static 'images/metas_sociales.png' %}"
                             style="display:block; width:100%; height: 400px;"
                             alt=""><br>
                    </div>
                </div>
                <div class="col-md-6">
                
                 <p class="text-justify">Para más información, visitar el siguiente enlace:</p>
                    <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'ambiental_info' %}">
                            <img width="200px" src="{% static 'images/imagen_ambiental.png' %}" alt="200px">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Ambiental</h3>
                                </div></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script>
        $(window).on('load', function () {
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id'));
                finn_counto('#' + $(this).attr('id'));
            });
        });

        function finn_waypoint(elemento) {
            var waypoint = new Waypoint({
                element: $(elemento),
                handler: function (direction) {
                    $(elemento + ' .count').trigger('on-appear');
                },
                offset: '75%',
                triggerOnce: true
            })
        }

        function finn_counto(elemento) {
            if ($().countTo) {
                $(elemento + ' .count').on('on-appear', function () {
                    $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                    $(this).each(function () {
                        var to = parseFloat($(this).data('to')),
                            speed = parseInt($(this).data('speed')),
                            decimals = parseInt($(this).data('decimals'));

                        $(this).countTo({
                            to: to,
                            speen: speed,
                            decimals: decimals,
                            formatter: function (value, options) {
                                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                            },
                            onComplete: function (value) {
                                if (value === 1.9)
                                    return this.innerHTML += '%';
                            }

                        });
                    });
                }); //counter
            }
        }
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    </script>

    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/ambiental.min.js' %}{{ css_js_version }}"></script>
{% endblock %}
