{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}


{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <p class="text-justify">Reconocemos la importancia y el valor de contar con un enfoque ambiental sólido.
                    Nuestra estrategia ambiental
                    abarca diferentes áreas, desde la reducción de nuestra huella de carbono hasta la conservación de
                    los recursos naturales.
                    Nos esforzamos por minimizar el impacto ambiental de nuestros proyectos y promover el uso
                    responsable de los recursos, agua,
                    energía y manejo de residuos. </p>

                <p class="text-justify">En Planigrupo estamos conscientes que podemos hacer la diferencia con la
                    creación
                    de valor ambiental, por ello implementaremos diversas campañas que impulsen la economía circular: el
                    reuso,
                    ahorro y concientización de los recursos dentro de nuestras plazas y corporativos, de materiales
                    tales como
                    el papel, cartón, PET, vidrio, electrónicos, e incluso energía y agua:
                </p>


                
                    <div style="text-align:center;">
                        
                        <img src="{% static 'images/metas_ambi.png' %}"
                             style="display:block; width:1000px; height: 350px;"
                             alt=""><br>
                    </div>
              
              
                <!--- 
                 <p class="text-justify">Para más información, visitar el siguiente enlace:</p>
                    <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'ambiental_info' %}">
                            <img width="200px" src="{% static 'images/imagen_ambiental.png' %}" alt="200px">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Ambiental</h3>
                                </div></div>
                            </div>
                        </a>
                    </div>
                </div> -->


                <p class="text-justify">En Planigrupo, contamos con una estrategia integral para hacer frente al
                    cambio climático. Para
                    ello, hemos implementado diversas iniciativas en distintas áreas para promover la
                    sustentabilidad y el cuidado del medio ambiente.</p>

                <p class="text-justify">En cuanto al manejo de desechos, contamos con procedimientos específicos en
                    nuestros centros
                    comerciales, los cuales tienen un impacto ecológico positivo para todos. Además, hemos
                    establecido una alianza con Grupo Allen para recolectar PET y reciclarlo, con el fin de reducir
                    nuestro impacto ambiental.</p>

                <p class="text-justify">Por otro lado, el uso consciente y responsable del agua es esencial para su
                    conservación y
                    mantenimiento a largo plazo. Por ello, hemos implementado diversas medidas en nuestros centros
                    comerciales, como la instalación de recolectores de agua pluvial, mingitorios secos y llaves con
                    sensores para evitar el desperdicio de agua. De esta forma, buscamos cuidar este recurso vital
                    para el planeta.</p>

                <p class="text-justify">Para Planigrupo el óptimo uso de los recursos es de suma importancia ya que
                    es una de las formas
                    más tangibles de contribuir a los objetivos ODS y a su vez impulsar su desempeño económico o la
                    generación de valor.</p>
            </div>
        </div>
    </div>
    <div id="cifras_relevantes_energia" class="content-wrap pt-3 pb-3 finn-counto">
        <div class="container">
            <div class="section-title mb-3 text-center">
                <h1 class="text-center tc-blue mt-5 mb-5">Cifras relevantes de Energía:</h1>
            </div>
            <div class="row honeycomb-wrapper justify-content-center">
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Electricidad</b></h5></a>
                </div>
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Gas Natural</b></h5><br></a>
                </div>
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Gasolina</b><br></h5></a>
                </div>
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-dasharray="10,10" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="3000" data-in-viewport="yes"
                                data-decimals="0" style="color: #dc291e">0</h2><span
                                class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Total</b></h5>
                    </a><br>
                </div>
                <div class="col-md-8 mx-auto mb-4">
                    <div id="chart1" style="height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="cifras_relevantes_agua" class="content-wrap pt-3 pb-3 finn-counto">
        <div class="container">
            <div class="section-title mb-3 text-center">
                <h1 class="text-center tc-blue mt-5 mb-5">Cifras relevantes del Agua:</h1>
            </div>
            <div class="row honeycomb-wrapper justify-content-center">
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Agua subterrránea</b></h5></a>
                </div>
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Agua de terceros</b></h5><br></a>
                </div>
                <div class="col-md-3 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-dasharray="10,10" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="2000" data-in-viewport="yes"
                                data-decimals="0" style="color: #dc291e">0</h2><span
                                class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Total</b></h5>
                    </a><br>
                </div>
                <div class="col-md-8 mx-auto mb-4">
                    <div id="chart2" style="height: 350px;"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="cifras_relevantes_gei" class="content-wrap pt-3 pb-3 finn-counto">
        <div class="container">
            <div class="section-title mb-3 text-center">
                <h1 class="text-center tc-blue mt-5 mb-5">Cifras Relevantes GEI</h1>
            </div>
            <div class="row honeycomb-wrapper justify-content-center">
                <div class="col-md-3 col-lg-2 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Alcance 1</b></h5></a>
                </div>
                <div class="col-md-3 col-lg-2 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-width="2" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="1000" data-in-viewport="yes"
                                data-decimals="0">0</h2><span class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Alcance 2</b></h5><br></a>
                </div>
                <div class="col-md-3 col-lg-2 tile">
                    <div class="honeycomb">
                        <svg class="honeycomb-path honeycomb-1" xmlns="http://www.w3.org/2000/svg"
                             width="150" viewBox="0 0 160 160">
                            <circle cx="80" cy="80" r="66" stroke-dasharray="10,10" fill="none"></circle>
                        </svg>
                        <div class="content">
                            <h2 class="count" data-speed="1500" data-to="2000" data-in-viewport="yes"
                                data-decimals="0" style="color: #dc291e">0</h2><span
                                class="title-effect "></span>
                        </div>
                    </div>
                    <a href="#"><h5><b>Total</b></h5>
                    </a><br>
                </div>


                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div id="chart3" style="height: 350px;"></div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div id="chart4" style="height: 350px;"></div>
                        </div>
                    </div>
                </div>
                {% include 'partials/carousel_eventos_soc.html' %}

            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'javascripts/countTo.js' %}"></script>
    <script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>
    <script>
        $(window).on('load', function () {
            $('.finn-counto').each(function () {
                finn_waypoint('#' + $(this).attr('id'));
                finn_counto('#' + $(this).attr('id'));
            });
        });

        function finn_waypoint(elemento) {
            var waypoint = new Waypoint({
                element: $(elemento),
                handler: function (direction) {
                    $(elemento + ' .count').trigger('on-appear');
                },
                offset: '75%',
                triggerOnce: true
            })
        }

        function finn_counto(elemento) {
            if ($().countTo) {
                $(elemento + ' .count').on('on-appear', function () {
                    $(elemento + ' .honeycomb-path.honeycomb-1').addClass('honeycomb-animated');

                    $(this).each(function () {
                        var to = parseFloat($(this).data('to')),
                            speed = parseInt($(this).data('speed')),
                            decimals = parseInt($(this).data('decimals'));

                        $(this).countTo({
                            to: to,
                            speen: speed,
                            decimals: decimals,
                            formatter: function (value, options) {
                                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                            },
                            onComplete: function (value) {
                                if (value === 1.9)
                                    return this.innerHTML += '%';
                            }

                        });
                    });
                }); //counter
            }
        }
    </script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    </script>

    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>

    <script src="{% static 'javascripts/amcharts/contenido/ambiental.min.js' %}{{ css_js_version }}"></script>
{% endblock %}
