{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <p class="text-justify">En Planigrupo comprendemos que una sólida gobernanza es 
                    fundamental para asegurar un funcionamiento eficiente y ético de nuestra 
                    organización. Nuestro compromiso con la integridad se refleja en nuestras 
                    políticas y prácticas de gobierno corporativo, las cuales son rigurosamente 
                    implementadas en todos los niveles de la empresa.</p>
            
                <p class="text-justify">Compartimos de manera clara y accesible información sobre nuestra estructura de liderazgo, los roles y 
                    responsabilidades de nuestros directivos y colaboradores, así como los mecanismos de toma de decisiones que guían nuestras 
                    operaciones diarias. Nos enorgullece contar con un equipo altamente capacitado y comprometido, que garantiza la excelencia en 
                    la gestión de nuestros proyectos.</p>
            </div>
                <div class="row">
                <div class="col-6">
                   <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'sistema_gobierno' %}">
                            <img width="100%" src="{% static 'images/sistema_gobierno.png' %}" alt="">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Sistema de Gobierno</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                   <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'grupos-interes' %}">
                            <img width="100%" src="{% static 'images/grupos_interes.png' %}" alt="">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Grupos de Interés</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/responsabilidad-social.js' %}"></script>
    <script src="{% static 'javascripts/owl.carousel.min.js' %}"></script>
    <script>
        $(function () {

            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                items: 1,
            });
        })
    </script>
{% endblock %}
