{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">

                <p class="text-justify">Creemos que la responsabilidad social es esencial para construir un futuro mejor, es por esto que estamos comprometidos 
                    con la construcción de un entorno más inclusivo y el desarrollo sostenible de nuestras comunidades.</p>
                    
                    <p class="text-justify">En nuestra sección de diversidad e inclusión compartimos nuestro compromiso de crear un entorno laboral inclusivo y respetuoso. 
                        Valoramos y celebramos la diversidad en todas sus formas, promoviendo la igualdad de oportunidades para todos nuestros colaboradores.</p>
                    

                             <p class="text-justify">Para más información, visitar los siguientes enlaces:</p>
            </div>
            <div class="row">
                <div class="col-6">
                   <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'diversidad-inclusion' %}">
                            <img width="100%" src="{% static 'images/diversidad_inclusion.png' %}" alt="">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Diversidad e inclusión</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                   <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'vinculacion-comunidad' %}">
                            <img width="100%" src="{% static 'images/vinculacion_comunidad.png' %}" alt="">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Vinculación con la comunidad</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/responsabilidad-social.js' %}"></script>
    <script src="{% static 'javascripts/owl.carousel.min.js' %}"></script>
    <script>
        $(function () {

            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                items: 1,
            });
        })
    </script>
{% endblock %}
