{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
    <style>
        .globo_rosa {
            color: white;
            background-image: linear-gradient(to right, #E0032C, #660314);
            margin: 1rem;
            padding: 0.3rem 3rem;
            border-radius: 30px;
        }

        .comentario_rosa {
            position: relative;
            padding: 0.3rem 3rem;
        {#margin: 1em 0 3em;#} border: 1px solid #E0032C;
            color: #E0032C;
            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }

        .comentario_rosa:before {
            content: "";
            position: absolute;
            bottom: -10px; /* value = - border-top-width - border-bottom-width */
            left: 40px; /* controls horizontal position */
            border-width: 10px 10px 0;
            border-style: solid;
            border-color: #E0032C transparent;
            /* reduce the damage in FF3.0 */
            display: block;
            width: 0;
        }

        /* creates the smaller  triangle */
        .comentario_rosa:after {
            content: "";
            position: absolute;
            bottom: -13px; /* value = - border-top-width - border-bottom-width */
            left: 47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
            border-width: 13px 13px 0;
            border-style: solid;
            border-color: #fff transparent;
            /* reduce the damage in FF3.0 */
            display: block;
            width: 0;
        }

        .text-green {
            color: #828D25 !important;
        }

        .text-rosa {
            color: #E0032C !important;
        }

        .bg-dark-blue2 {
            background-color: #1C3557 !important;
            border-radius: 50%;
        }


    </style>
{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6"><br><br><br><br><br><br><br>
                    <p class="text-justify">Creemos que la responsabilidad social es esencial para construir un futuro
                        mejor, es por esto que estamos comprometidos
                        con la construcción de un entorno más inclusivo y el desarrollo sostenible de nuestras
                        comunidades.</p>


                </div>
                <div class="col-md-6">
                    <div style="text-align:center;">

                        <img src="{% static 'images/metas_so.png' %}"
                             style="display:block; width:800px; height: 450px;"
                             alt=""><br>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-5">
            <div class="parallax" style="background-image: url({% static 'images/parallax/8.png' %});">
                <div class='container-fluid container-relative text-white'>
                    <h1 class="text-white text-center">
                        El elemento más importante y fundamental para Planigrupo son las personas, para eso trabajamos
                        con y
                        para ellas, en el 2023 nos enfocaremos en prácticas que favorezcan a nuestros colaboradores y a
                        la
                        sociedad en general.
                    </h1>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <h1 class="text-center tc-blue mt-5 mb-5">Vinculación con la Comunidad</h1>
                    <p class="text-justify">En el caso de la vinculación con la comunidad, nos involucramos en proyectos
                        y
                        colaboraciones que contribuyen al
                        desarrollo sostenible de las comunidades en las que operamos. Desde programas de voluntariado
                        hasta
                        proyectos de mejora de
                        infraestructuras y apoyo a causas sociales y medioambientales, trabajamos en estrecha
                        colaboración con
                        las comunidades para
                        generar un impacto positivo y duradero.</p>


                    <div style="text-align:center;">
                        <img src="{% static 'images/iniciativas_comunidad2.png' %}"
                             style="display:block; width:100%; height: 500px;"
                             alt=""><br>
                    </div>

                    <p class="text-justify">Nuestro compromiso con la comunidad nos ha permitido en ocasiones ser un
                        puente entre el entidades
                        gubernamentales y asociaciones civiles que buscan promover o proporcionar recursos o
                        actividades, con lo que hemos generado
                        importantes sinergias dentro de las entidades en las que se ubican nuestras plazas
                        comerciales.</p>

                    <h1 class="text-center tc-blue mt-5 mb-5">Diversidad e Inclusión</h1>
                    <div class="row">

                <div class="col-md-6"><br><br<br>
                    <p class="text-justify">En planigrupo se genera un ambiente equitativo con diversidad e inclusión,
                        donde se acepta y respeta las perspectivas diversas, apoyando a todos.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-justify">Teniendo actividades como “ESPAZIOS IEMUJERES” las mujeres emprendedoras 
                        tengan un espacio para ofrecer sus productos. También, la “ALIANZA ANTICÁNCER” donde se realizó 
                        una actividad para recaudar juguetes y taparroscas PET para apoyar esta Fundación. Y “ADULTO MAYOR” 
                        en el que se realizaron actividades de música y bailes realizados por personas de la tercera edad.</p>
                    </div>
                </div>
            </div>
            <div style="text-align:center;">
                <img src="{% static 'images/distribucion_personal.png' %}"
                     style="display:block; width:100%; height: 550px;"
                     alt="">
            
            <h1 class="text-center tc-blue mt-5 mb-5">Actividades Relevantes 2022</h1>
            <div style="text-align:center;">
                <img src="{% static 'images/actividades_sociales_2022.png' %}"
                     style="align-center; width:1000px; height: 400px;"
                     alt="">
                </div>
        </div></div></div>
        {% include 'partials/carousel_eventos_soc.html' %}

        <!---   <p class="text-justify">Para más información, visitar los siguientes enlaces:</p>
            
            <div class="row">
                <div class="col-6">
                   <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'diversidad-inclusion' %}">
                            <img width="100%" src="{% static 'images/diversidad_inclusion.png' %}" alt="">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Diversidad e inclusión</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                   <div class="image_wrapper">
                        <a class="banner_page" href="{% url 'vinculacion-comunidad' %}">
                            <img width="100%" src="{% static 'images/vinculacion_comunidad.png' %}" alt="">
                            <div class="overlay">
                                <div class=" overlay_2">
                                    <h3 class="text-white">Vinculación con la comunidad</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div> --->
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/responsabilidad-social.js' %}"></script>
    <script src="{% static 'javascripts/owl.carousel.min.js' %}"></script>
    <script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>
    <script>
        $(function () {

            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplayHoverPause: true,
                items: 1,
            });
        })
    </script>
{% endblock %}
