{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <article id="matriz" class="pt-5">
                <h1 class="text-center tc-blue mt-5 mb-5">Matriz ASG 2022</h1>
                <div class="d-flex flex-column justify-content-center align-content-center">
                    <h2 class="text-center text-blue3 text-bold">Seleccionamos 12 temas materiales
                        potenciales en el análisis de materialidad, reflejado en la siguiente matriz:
                    </h2>
                    <img src="{% static 'images/matriz_22.png' %}"
                         class="img-fluid"
                         alt="">
                </div>
                <p class="text-justify">
                    Como primera fase de desarrollo, hemos empezado a trabajar sobre dos de
                    los temas materiales para reforzar nuestras prácticas existentes.
                </p>

            </article>

         <!--  <article id="estrategia" class="pt-5">
                <h1 class="text-center tc-blue mt-5 mb-5">
                    Estrategia
                </h1>
                <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur cum esse illum
                    incidunt inventore minus mollitia praesentium quas quasi, quia temporibus unde veniam, voluptatem.
                </p>

            </article>--> 
            <article id="grupos" class="pt-5">
            <h1 class="text-center tc-blue mt-5 mb-5">Grupos de Interés</h1>
            <p class="text-justify">En Planigrupo entendemos la relevancia de procurar la vinculación con
                nuestros grupos de interés, ya que la consideramos como centro de negocio y aspecto fundamental
                de la sustentabilidad;
                hemos adoptado los valores del “International Integrated Reporting Framework”, en donde se
                establece que la publicación de los resultados de sustentabilidad deben proveer un panorama sobre
                la naturaleza y la calidad de las relaciones entre los grupos de interés y la compañía, por tal
                motivo es esencial vincularnos con ellos para entender sus expectativas, necesidades y
                preocupaciones logrando proponer soluciones concretas con ellos, a fin de prevenir riesgos y
                desarrollar oportunidades. </p>
            <p class="text-justify">Con este fin, hemos desarrollado diversas herramientas de comunicación para
                establecer puntos de
                contacto directo con ellos e identificar los temas y canales de diálogo que les sean relevantes;
                de esta manera aspiramos a mejorar nuestra relación con ellos, así como nuestros procesos y
                servicios.</p>
            <p class="text-justify">Nuestro Proceso de vinculación con los grupos de interés incluye tres
                fases:</p>

            <div style="text-align:center;">
                <img src="{% static 'images/proceso_vinculacion.png' %}"
                     class="img-fluid"
                     alt="">
            </div>

            <p>A continuación, se comparte el listado de nuestros grupos de interés, el canal de comunicación
                que empleamos con cada uno de ellos, así como la frecuencia de ésta y algunos de los temas
                claves que se hablan:</p>
            <div class="row">
                <div class="col-md-5">
                    <div style="text-align: right;">
                        <img src="{% static 'images/colaboradores1.png' %}"
                             style="width: 500px; height: 250px;" alt="">
                       <!-- <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">Colaboradores</h3>
                        <p><br>Carta de denuncias, newsletter semanal con contenido interno y noticias
                            sectoriales Constante,
                            semanal</p>--> </div>
                </div>

                <div class="col-md-7">
                    <div style="text-align:center;"><br><br>
                        <img src="{% static 'images/temas1.png' %}"
                             style="display:block; width:900px; height: 175px;"
                             alt="">
                    </div>
                </div>
            </div>
            <br><br>
            

                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <img src="{% static 'images/temas_varios.png' %}"
                                 style="width: 1000px; height: 600px;" alt="">
                            
                        </div>
                    </div>

                   <!--- <p class="text-center"><br>Reportes Trimestrales, cuestionarios periódicos ESG <br>Al menos
                        trimestralmente</p>

                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <img src="{% static 'images/icono_consejo.png' %}"
                                 style="width: 80px; height: 70px;" alt="">
                            <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">Consejo de
                                Administración</h3></div>
                    </div>

                    <p class="text-center"><br>Reuniones de consejo, reuniones de comités <br>Trimestralmente
                    </p>
                </div>

                <div class="col-md-6">

                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <img src="{% static 'images/icono_directores.png' %}"
                                 style="width: 80px; height: 70px;" alt="">
                            <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">Directores</h3>
                        </div>
                    </div>

                    <p class="text-center"><br>Juntas Equipo, Comités de Inversión y Auditoría<br>Diario,
                        semanal, trimestralmente</p>

                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <img src="{% static 'images/icono_inquilinos.png' %}"
                                 style="width: 80px; height: 70px;" alt="">
                            <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">Inquilinos</h3>
                        </div>
                    </div>

                    <p class="text-center"><br>Canal de denuncias, página web, portal de clientes<br>Constante
                    </p>
                </div>
            </div> -->

            <div style="text-align:center;">
                <img src="{% static 'images/temas2.png' %}" style="text-center; width:800px; height: 200px;"
                     alt="">
            </div>
            <br><br>

            <div class="row">
                <div class="col-md-5">
                    <div style="text-align: right;">
                        <img src="{% static 'images/inversionistas1.png' %}"
                             style="width: 500px; height: 300px;" alt=""></div>
                       <!-- <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">Inversionistas</h3>
                    

                    <p class="text-justify"><br>Reportes trimestrales y anuales, Asambleas Ordinarias y
                        extraordinarias, Cuestionarios periódicos
                        ESG<br>Mensual, trimestral y anualmente</p>-->
                </div>

                <div class="col-md-7">
                    <div style="text-align:center;"><br><br><br>
                        <img src="{% static 'images/temas3.png' %}"
                             style="display:block; width:1000px; height: 175px;"
                             alt="">
                    </div>
                </div>
            </div>
            <br><br>
            <div style="text-align: center;">
                <div style="display: inline-block;">
                    <img src="{% static 'images/temas_varios1.png' %}"
                         style="width: 1000px; height: 275px;" alt="">
                    
                </div>
            </div>
            <!--<div class="row">
                <div class="col-md-6">
                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <img src="{% static 'images/icono_calificadoras.png' %}"
                                 style="width: 80px; height: 70px;" alt="">
                            <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">
                                Calificadoras</h3></div>
                    </div>


                    <p class="text-center"><br>Reportes trimestrales y anuales, comunicados de prensa<br>Constante,
                        trimestral y anualmente</p>
                </div>
                <div class="col-md-6">
                    <div style="text-align: center;">
                        <div style="display: inline-block;">
                            <img src="{% static 'images/icono_proveedores.png' %}"
                                 style="width: 80px; height: 70px;" alt="">
                            <h3 class="font-weight-bold" style="display:inline; color: #1C3557;">
                                Proveedores</h3></div>
                    </div>


                    <p class="text-center"><br>Canal de denuncias, portal de proveedores<br>Constante</p>

                </div>
            </div> -->
            <div style="text-align:center;">
                <img src="{% static 'images/temas4.png' %}" style="text-center; width:900px; height: 200px;"
                     alt="">
            </div>
            <br><br>
            <p>A partir del análisis de materialidad se pudieron identificar los temas ASG que fueron relevantes
                para cada uno de nuestros grupos de interés, posteriormente se realizó un plan de acción para
                cada tema material. Todos estos resultados fueron compartidos con nuestro Consejo de
                Administración y Comité Técnico, quienes son responsables de supervisar la respuesta de la
                organización a cualquier preocupación crítica. </p>
            <p>A continuación, se presentan la relevancia de algunos de los temas y preocupaciones de cada uno
                de nuestros grupos de interés (1 más relevante, 4 medianamente relevante)</p>

            <div style="text-align:center;">
                <img src="{% static 'images/temas_relevancia2.png' %}"
                     style="display:block; width:100%; height: 100%;"
                     alt="">
            </div>
            <h1 class="text-center tc-blue mt-5 mb-5">Encuesta por grupos de interés</h1>
            <div class="row">
                <div class="col-md-3">
                    <div id="directores" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="inquilinos" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="inversionistas" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="proveedores" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="bancos" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="colaboradores" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="consejo" style="height: 200px;"></div>
                </div>
                <div class="col-md-3">
                    <div id="otros" style="height: 200px;"></div>
                </div>
            </div>

            <h1 class="text-center tc-blue mt-5 mb-5">Internos vs Externos</h1>
            <div class="row">
                <div class="col-md-6">
                    <div id="interno" style="height: 200px;"></div>
                </div>
                <div class="col-md-6">
                    <div id="externo" style="height: 200px;"></div>
                </div>
            </div>
        </article>
            <article id="objetivos" class="pt-5">
                <h1 class="text-center tc-blue mt-5 mb-5">
                    Objetivos ODS 2023
                </h1>
                <p class="text-justify">
                    En Planigrupo estamos comprometidos con el desarrollo sostenible de las
                    comunidades, empresas y países en los que operamos, y para ello nos hemos enfocado en los
                    Objetivos de Desarrollo Sostenible (ODS) de las Naciones Unidas.
                </p>
                <div class="row">
                    <div class="col-10 offset-1">
                        <div class="row d-flex justify-content-center align-items-center center">
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_1.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="text-justify">
                                    Planigrupo aporta en este objetivo mediante la creación de oportunidades laborales,
                                    proporcionando
                                    condiciones de trabajo dignas a empleados y proveedores e impactando positivamente
                                    en las
                                    comunidades locales.
                                </p>
                            </div>
                            <div class="col-md-8">
                                <p class="text-justify">
                                    En la empresa hemos adoptado políticas y procedimientos para garantizar los mismos
                                    derechos
                                    y oportunidades laborales
                                    para las mujeres, fomentando así el crecimiento económico y el desarrollo social.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_5.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_8.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="text-justify">
                                    Planigrupo aporta a la creación de puestos de trabajo decentes en las comunidades en
                                    las que
                                    operamos. Todas las mujeres
                                    y hombres, incluidos los jóvenes y las personas con discapacidad, cuentan con
                                    condiciones
                                    laborales atractivas, y cada
                                    vez nos acercamos más a la igualdad de remuneración por trabajo de igual valor.
                                    Dentro de
                                    esto, protegemos los derechos
                                    laborales y promovemos un entorno de trabajo seguro y sin riesgos para todos los
                                    trabajadores de Planigrupo.
                                </p>
                            </div>
                            <div class="col-md-8">
                                <p class="text-justify">
                                    Proporcionamos condiciones laborales dignas a través de toda nuestra cadena de
                                    valor,
                                    especialmente para grupos desfavorecidos,
                                    redistribuyendo de forma más igualitaria los salarios a los colaboradores,
                                    implantando
                                    mecanismos para evitar la evasión fiscal y
                                    fomentando proyectos de cooperación al desarrollo.
                                </p>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_10.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_11.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="text-justify"><br><br>
                                    En Planigrupo fomentamos las infraestructuras y procesos sostenibles; preservando el
                                    patrimonio cultural y natural;
                                    impactando positivamente en las ciudades y asentamientos humanos en los que opera e
                                    invirtiendo en la protección de
                                    las personas potencialmente afectadas por desastres naturales.
                                </p>

                            </div>
                            <div class="col-md-8">
                                <p class="text-justify"><br><br>
                                    En Planigrupo incorpamos el respeto a los derechos humanos y procesos de
                                    transparencia en la
                                    organización, evitando
                                    cualquier forma de violencia con los grupos vulnerables. Contamos con nuestro código
                                    de
                                    ética, promovemos acciones en materia
                                    de transparencia y anticorrupción.
                                </p>


                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_16.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    <img class="img-fluid" src="{% static 'images/ODS_17.png' %}" width="200px"
                                         height="600px" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="text-justify"><br><br>
                                    En Planigrupo somos partícipes de la promoción de las inversiones en favor de
                                    México, por lo
                                    cual trabajamos
                                    con inquilinos de talla nacional e internacional. Promovemos el trabajo entre el
                                    sector
                                    público y privado, así
                                    como la cooperación con la sociedad civil, aprovechando la experiencia y las
                                    estrategias de
                                    obtención de recursos
                                    de las alianzas para impulsar el desarrollo económico local.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </article>

            <article id="actividades" class="pt-5">
                {% include 'partials/carousel_eventos_soc.html' %}
            </article>

            <!--<a class="btn bg-danger text-white" href="{% url 'index' %}">
                volver
            </a> -->
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts-2.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie-2.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/animate.js' %}"></script>
    <script src="{% static 'javascripts/js/jquery.twbsPagination.min.js' %}"></script>
    <script src="{% static 'javascripts/carousel.eventos.js' %}"></script>

    <script>
        var directores = AmCharts.makeChart("directores", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [
                {"sector": "", "size": 6},
                {"sector": "", "size": 94}
                ],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Directores",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "8%",
                "color": "#555"
            }],
        });
        var inquilinos = AmCharts.makeChart("inquilinos", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 8},
                {"sector": "", "size": 92}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Inquilinos",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "8%",
                "color": "#555"
            }],
        });
        var inversionistas = AmCharts.makeChart("inversionistas", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 7},
                {"sector": "", "size": 93}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Inversionistas",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "7%",
                "color": "#555"
            }],
        });
        var proveedores = AmCharts.makeChart("proveedores", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 24},
                {"sector": "", "size": 76}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Proveedores",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "24%",
                "color": "#555"
            }],
        });
        var bancos = AmCharts.makeChart("bancos", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 13},
                {"sector": "", "size": 87}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Bancos",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "13%",
                "color": "#555"
            }],
        });
        var colaboradores = AmCharts.makeChart("colaboradores", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 26},
                {"sector": "", "size": 74}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Colaboradores",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "26%",
                "color": "#555"
            }],
        });
        var consejo = AmCharts.makeChart("consejo", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 9},
                {"sector": "", "size": 91}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Consejo",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "9%",
                "color": "#555"
            }],
        });
        var otros = AmCharts.makeChart("otros", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 7},
                {"sector": "", "size": 93}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 40,
            "pullOutRadius": 30,
            "marginTop": 10,
            "titles": [{
                "text": "Otros",
                "size": 14
            }],
            "allLabels": [{
                "y": "52%",
                "align": "center",
                "size": 25,
                "bold": true,
                "text": "7%",
                "color": "#555"
            }],
        });
        var interno = AmCharts.makeChart("interno", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 40},
                {"sector": "", "size": 60}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 50,
            "pullOutRadius": 30,
            "marginTop": 10,
            "allLabels": [{
                "y": "49%",
                "align": "center",
                "size": 20,
                "bold": true,
                "text": "Interno",
                "color": "#555"
            }, {
                "y": "43%",
                "align": "center",
                "size": 15,
                "text": "40%",
                "color": "#555"
            }],
        });
        var externo = AmCharts.makeChart("externo", {
            "type": "pie",
            "theme": "none",
            "dataProvider": [{"sector": "", "size": 60},
                {"sector": "", "size": 40}],
            "valueField": "size",
            "titleField": "sector",
            "labelText": "",
            "balloonText": "",
            "colors": ["#DC291E", "#939598"],
            "startDuration": 0,
            "innerRadius": 50,
            "pullOutRadius": 30,
            "marginTop": 10,
            "allLabels": [{
                "y": "49%",
                "align": "center",
                "size": 20,
                "bold": true,
                "text": "Externo",
                "color": "#555"
            }, {
                "y": "43%",
                "align": "center",
                "size": 15,
                "text": "60%",
                "color": "#555"
            }],
        });
    </script>
{% endblock %}
