{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Con la finalidad de tener una base fundamentada que permitiera optimizar los recursos en
                        estrategias que generen el mayor beneficio para todos, definiendo cuáles son los temas
                        materiales con mayor impacto o aquellos asuntos que afectan al negocio y a los grupos de
                        interés, así como reconocer los riesgos potenciales en la operación. En 2021, Planigrupo realizó
                        el primer análisis de materialidad para crear una estrategia ASG robusta y con mayor
                        impacto. </p>

                    <p>Para realizar el análisis de materialidad se encuestaron a un número representativo de cada uno
                        de nuestros grupos de interés, con el apoyo de nuestro asesor Miranda ESG. La base para
                        identificar y seleccionar a los grupos de interés participantes fue todo aquel grupo que
                        estuviera directamente involucrado en procesos operativos tradicionales del negocio de acuerdo
                        con nuestro objeto social.</p>

                    <p>Dicha encuesta se delegó de manera interna a la Dirección de Finanzas, la cual a su vez presentó
                        los resultados obtenidos al Consejo de Administración y Comité Técnico. A partir del análisis de
                        información resultante de dichas interacciones con los grupos de interés, identificamos: </p>

                    <ul class="pl-4">
                        <li>- Los temas que Influyen sustancialmente en las valoraciones y decisiones de los grupos de
                            interés, así como en la operación de la compañía.
                        </li>
                        <li>- Los asuntos que reflejan los impactos económicos, ambientales y sociales significativos de
                            y para Planigrupo.
                        </li>
                        <li>- Las iniciativas y estándares más destacados del sector financiero y de las microfinanzas a
                            nivel local e internacional, así como de competencia directa o indirectamente.
                        </li>
                        <li>- Las tendencias ambientales, sociales y de gobernanza (ASG) globales que deben ser
                            consideradas para el desarrollo sostenible del negocio.
                        </li>
                    </ul>

                    <div class="row mb-4">
                        <div class="col-md-6">
                            <img class="img-fluid" src="{% static 'images/Matriz_ASG.png' %}" alt="">
                        </div>
                        <div class="col-md-6">
                            <img class="img-fluid" src="{% static 'images/Matriz_ASG1.png' %}" alt="">
                        </div>
                    </div>

                    <p>Respecto a la relevancia de cada uno de los factores que incluimos en la muestra, se elaboró la
                        siguiente matriz donde los resultados de los factores elegidos se ordenan de los más relevantes
                        a los menos relevantes y se grafican en dos dimensiones:</p>

                    <ul class="pl-4">
                        <li>- Eje X: La importancia de los impactos ESG en el negocio.</li>
                        <li>- Eje Y: La influencia en las evaluaciones y decisiones de los grupos de interés.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
