{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>En Planigrupo buscamos generar valor sostenible y de largo plazo, teniendo un deber fiduciario
                        con todos nuestros grupos de interés, siendo conscientes de los impactos que tenemos en el medio
                        ambiente y la sociedad. Por consiguiente, en 2021 hicimos nuestro primer análisis de
                        materialidad para guiar nuevas iniciativas y fortalecer las ya existentes con el fin de reforzar
                        nuestra estrategia de sostenibilidad.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div style="text-align:center;">
                                <img src="{% static 'images/enfoque_asg.png' %}"
                                     style="width:100%; height: 300px;"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div style="text-align:center;">
                                <img src="{% static 'images/enfoque_asg2.png' %}"
                                     style="width:100%; height: 300px;"
                                     alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
