{% load i18n %}
{% load static %}
<section class="s-block pb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center tc-blue mt-5 mb-0">Eventos Ambientales</h1>
                <div class="owl-carousel owl-theme h-100">
                    {% for event in eventos %}
                        <div class="item d-flex flex-column h-100 align-items-center justify-content-center pl-5 pt-5 pr-5 pb-1">
                            <div class="row d-flex align-items-center flex-wrap">
                                <div class="col-4">
                                    <div class="item">
                                        <h4 class="font-weight-bold">{{ event.title }}</h4>
                                        <p class="text-justify">{{ event.description }}</p>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <img width="100%" src="{% static event.img %}"
                                         alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
