 #eventos #pagination {
            border-radius: 10px;
            border: 1px solid #dee2e6 !important;
            padding: 1rem;
        }

        #eventos .pagination .page-item.active a.page-link {
            background-color: transparent !important;
            color: #8cd400 !important;
            border-color: transparent !important;
            /*text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);*/
        }

        #eventos #pagination.pagination .page-link:hover {
            color: #8cd400 !important;
            border: none !important;
            background: none !important;
        }

        #eventos #pagination.pagination .page-item a.page-link {
            margin: 0.2rem;
            border: none !important;
            /*line-height: normal;*/
            /*background: #f6f7f8;*/
            color: #004A23;
        }

        #eventos #pagination.pagination .next a.page-link, #eventos #pagination.pagination .prev a.page-link {
            margin: 0.2rem;
            border-radius: 50%;
            /*line-height: normal;*/
            background: #002612 !important;
            color: white !important;
        }

        #eventos #pagination.pagination .next a.page-link:hover, #eventos #pagination.pagination .prev a.page-link:hover {
            margin: 0.2rem;
            border-radius: 50%;
            /*line-height: normal;*/
            background: #8cd400 !important;
            color: white !important;
        }

        #eventos #pagination.pagination .disabled a.page-link {
            margin: 0.2rem;
            border-radius: 50%;
            /*line-height: normal;*/
            background: #e8e9ec !important;
            color: #ffff !important;
        }

        #eventos .hide-event {
            display: none;
        }

        #eventos .show-event {
            display: block;
        }

        #eventos .events-list {
            margin-bottom: 0.5rem;
            color: white;
        }

        #eventos .event-item {
            background-color: hsla(120, 60%, 70%, 0.3);
            filter: alpha(opacity=60);
        }

        #eventos a {
            color: white;
        }

        #eventos h4 {
            margin-bottom: 1rem !important;
            color: white;
            font-weight: bold;
        }

        #eventos h4:after {
            content: "";
            display: block;
            height: 2px;
            width: 120px;
            background: #00A8FF;
            left: 20px;
            top: 40%;
            position: absolute;
        }

        #eventos .event-date {
            margin-bottom: 1rem !important;
        }

        #eventos p {
            display: block;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;


            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
        /*white-space: pre-wrap; /* let the text wrap preserving spaces */
        }