{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">En planigrupo se genera un ambiente equitativo con diversidad e inclusión,
                        donde se acepta y respeta las perspectivas diversas, apoyando a todos.
                    </p>
                    <p class="text-justify">Conmemorando el <span class="font-weight-bold">día de la mujer</span>, se
                        llevaron a cabo diversas conferencias contando con la
                        participación de invitadas como Karla Ahumada (Ganadora del Premio Mujer Tec 2021) y Paola
                        Espinoza (Atleta). El objetivo de dicho evento fue promover el empoderamiento de la mujer y
                        destacar el <span class="font-weight-bold">liderazgo femenino</span>.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'images/diversidad.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
