{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <p class="text-justify">Me complace compartir con ustedes el impacto que hemos tenido en las
                        comunidades en donde se encuentran nuestros centros comerciales y corporativos. A lo largo de
                        nuestra historia, hemos buscado mantener un vínculo cercano con las comunidades y fomentar la
                        responsabilidad social.</p>
                    <p class="text-justify">Siempre buscamos ofrecer nuestro apoyo cuando se nos solicita, ya sea a
                        través del acopio de
                        bienes para responder a desastres naturales, donaciones para el fondeo de proyectos, u
                        ofreciendo pláticas comunitarias. Para brindar ayuda a las diferentes comunidades en donde
                        tenemos presencia, hemos impulsado distintas iniciativas enfocadas en atender necesidades como
                        nutrición, educación, salud y apoyo a personas con discapacidad o enfermedad terminal.</p>
                    <p class="text-justify">Durante el año 2021, nos preocupamos por el bienestar de las comunidades al
                        realizar distintas
                        actividades de integración, salud, eventos sociales y de seguridad. Algunas de las iniciativas
                        que implementamos incluyen el programa "Banco de Tapitas", que ayuda al pago de quimioterapias
                        de niños con cáncer. Durante el año, recolectamos 39.5 toneladas de tapitas, equivalentes a 745
                        quimioterapias o 1,495 dosis de suplementos alimenticios.</p>
                    <p class="text-justify">En conjunto con Grupo Allen, reciclamos 30 toneladas de plástico PET, lo que
                        equivale a 52,460 kg
                        de CO2 que se dejaron de emitir al medio ambiente. Además, nos sumamos a la iniciativa "La
                        Escuela Más Grande del Mundo" para promover la educación y proporcionar espacios seguros en
                        nuestras Plazas a los estudiantes. En 8 Plazas Comerciales se adaptó en área de Food Court un
                        espacio para que niños y jóvenes estudiantes tengan acceso a internet a través de nuestro WIFI y
                        puedan continuar con sus estudios.</p>
                    <p class="text-justify">En donde tenemos presencia, apoyamos a otras iniciativas, como al Teletón a
                        través del CRIS
                        Coahuila. También fuimos reconocidos como "Empresa Compasiva" en Nuevo León y en diversos
                        acopios para reciclaje en Cancún, entre otras actividades.</p>
                    <p class="text-justify">Nuestro compromiso con la comunidad nos ha permitido en ocasiones ser un
                        puente entre el entidades gubernamentales y asociaciones civiles que buscan promover o
                        proporcionar recursos o
                        actividades, con lo que hemos generado importantes sinergias dentro de las entidades en las que
                        se ubican nuestras plazas comerciales.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}

{% endblock %}
