{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">A lo largo de su historia, Planigrupo ha buscado mantener un vínculo cercano
                        con
                        las comunidades y fomentar la responsabilidad social.</p>

                    <p class="text-justify">Planigrupo siempre brinda su apoyo cuando se le solicita, ya sea a través
                        del acopio
                        de bienes para responder a desastres naturales, donaciones para el fondeo de proyectos, u
                        ofreciendo
                        pláticas comunitarias. Para brindar ayuda a las diferentes comunidades en donde tiene presencia,
                        ha impulsado distintas iniciativas enfocadas en atender necesidades como nutrición, educación,
                        salud y apoyo a personas con discapacidad o enfermedad terminal.</p>

                    <p class="text-justify">En Planigrupo nos preocupamos por el bienestar de las comunidades al
                        realizar
                        distintas actividades de integración, salud, eventos sociales y de seguridad, por lo que algunas
                        de las
                        iniciativas que implementamos incluyen programas como:</p>

                    <div style="text-align:center;">
                        <img src="{% static 'images/iniciativas_comunidad.png' %}"
                             style="display:block; width:100%; height: 700px;"
                             alt=""><br>
                    </div>

                    <p class="text-justify">Nuestro compromiso con la comunidad nos ha permitido en ocasiones ser un
                        puente entre el entidades
                        gubernamentales y asociaciones civiles que buscan promover o proporcionar recursos o
                        actividades, con lo que hemos generado
                        importantes sinergias dentro de las entidades en las que se ubican nuestras plazas
                        comerciales.</p>
                </div>
            </div>
        </div>
        {% include 'partials/carousel_eventos_soc.html' %}
        <div class="container">
            <a class="btn bg-primary" href="{% url 'responsabilidad_social' %}">
                volver
            </a>
        </div>

    </div>
{% endblock %}
{% block otherscripts %}
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: true,
            items: 1,
        });
    </script>
{% endblock %}
